
<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <textarea id="source">
{{slides}}
    </textarea>
    <script src="remark-latest.min.js">
    </script>
    <script>
      remark.create({ ratio: "16:9" });
    </script>
  </body>
</html>