@font-face{
  font-family: 'EBGaramond-Regular';
  src: url('fonts/EB_Garamond/EBGaramond-Regular.ttf');
  
}

@font-face{
  font-family: 'NunitoSans-black';
  src: url('fonts/Nunito_Sans/NunitoSans-Black.ttf');
}


h1, h2, h3 {
  font-family: 'NunitoSans-black';
}

/*CSS modifcations by J. M. Lilly*/
.remark-slide-content {/*background-color: #adccff*/; padding: 20px 60px 20px 60px;}
.remark-slide-content h1 { font-size: 64pt; font-weight: bold;letter-spacing:0.05em;margin-top: .5em; margin-bottom: 0em;}
.remark-slide-content h2 { font-size: 50pt; font-weight: bold;letter-spacing:0.05em;margin-top:0em; margin-bottom: 0em;}
/*.remark-slide-content  h3 { font-size: 1.4em;font-weight: bold;letter-spacing:0.05em;margin-top:0em}*/

.remark-slide-content p,ol,ul { 
  font-family: 'EBGaramond-Regular';
  font-size: 48pt;
  margin-top: 0em;
  margin-bottom: 0em;
}
.remark-fading { z-index: 9; } 
  
/* Thanks to http://www.partage-it.com/animez-vos-presentations-remark-js/  (in French) */
.remark-slide-container {transition: opacity 0.5s ease-out;opacity: 0;}
.remark-visible {transition: opacity 0.5s ease-out;opacity: 1;}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.column {
  width: 48%;
  padding: 5px;
}

.left-column {

  float: left;
}

.right-column {
  float: right;
}

.remark-notes *, .remark-notes-preview * {
  font-size: 12pt;
}

#slide-resources li {
  font-size: 24pt !important;
}

.header {
  top: 5%;
  right: 5%;
  position: absolute;
}

